{% extends 'basic.html' %}
{% block articlecontent %}
    <div class="ui equal width grid">
        <div class="row">
            <div class="column">
                <div class="ui container segment">
                    <div class="ui divided items">
                        {% for item in article %}
                            <div class="item">
                                <div class="image">
                                    <img src="{{ item.image }}">
                                </div>
                                <div class="content">
                                    <div>
                                        <a class="ui header" href="{{ item.href }}" target="_blank">{{ item.title }}</a>
                                    </div>
                                    <div class="description">
                                        <span style="color: rgba(0,132,255,0.76)">{{ item.category }}</span>
                                        <a href="{{ item.href }}"
                                           target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;{{ item.source }}</a>
                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;{{ item.time }}</span>
                                        <p>{{ item.introduce|linebreaks }}</p>
                                    </div>
                                    <div class="extra">
                                        {% for i in item.keywords %}
                                            {% if i == "" %}
                                            {% else %}
                                                <div class="ui label">
                                                    {{ i }}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="ui pagination pointing menu">
                        {% if article.has_previous %}
                            <a class="item" id="pre_page">上一页</a>
                        {% endif %}
                        {% for i in left_array %}
                            <div class="item page_item" id="{{ i }}">{{ i }}</div>
                        {% endfor %}
                        {% for i in right_array %}
                            <div class="item page_item" id="{{ i }}">{{ i }}</div>
                        {% endfor %}
                        {% if article.has_next %}
                            <a class="item" id="next_page">下一页</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block articlejs %}
    <script>
        $('#pre_page').click(function () {
            var url = window.location.search;
            var cate = url.split('?')[1].split('=')[1].split('&')[0];
            {% if article.has_previous %}
                window.location.href = "http://127.0.0.1:8000/article/" + "?cate=" + cate + "&page={{ article.previous_page_number }}";
            {% endif %}
        });

        $('#next_page').click(function () {
            var url = window.location.search;
            var cate = 'politics';
            if (url.indexOf("?") != -1)
                cate = url.split('?')[1].split('=')[1].split('&')[0];
            {% if article.has_next %}
                window.location.href = "http://127.0.0.1:8000/article/" + "?cate=" + cate + "&page={{ article.next_page_number }}";
            {% endif %}
        });
        $("#" + {{ article.number }}).addClass("active teal");
        $(".page_item").click(function () {
            var url = window.location.search;
            var cate = url.split('?')[1].split('=')[1].split('&')[0];
            var id = $(this).attr("id");
            window.location.href = "http://127.0.0.1:8000/article/" + "?cate=" + cate + "&page=" + id;
        });

    </script>
{% endblock %}
