{% extends 'basic.html' %}
{% block articlecontent %}
    <div class="ui equal width grid" style="width: 75%;margin: 0 auto">
        <div class="row" style="padding-top: 0">
            <div class="column">
                <div class="ui container segment">
                    <div class="ui divided items">
                        {% for item in article %}
                            <div class="item news_item">
                                <div class="ui medium rectangle image" style="overflow: hidden">
                                    <img src="{{ item.image }}">
                                </div>
                                <div class="content">
                                    <div>
                                        <a class="ui header" href="{{ item.href }}" target="_blank">{{ item.title }}</a>
                                    </div>
                                    <div class="description">
                                        <span style="color: rgba(0,132,255,0.76)">{{ item.category }}</span>
                                        <a href="{{ item.href }}"
                                           target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;{{ item.source }}</a>
                                        <span style="color: #888888">&nbsp;&nbsp;&nbsp;&nbsp;{{ item.time }}</span>
                                        <div style="color: #666666">
                                            {% if item.summary %}
                                                <p>{{ item.summary|linebreaks }}</p>
                                            {% else %}
                                                <p>{{ item.introduce|linebreaks }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="extra">
                                        {% for i in item.keywords %}
                                            {% if i == "" %}
                                            {% else %}
                                                <div class="ui label" style="color: #888888">
                                                    {{ i }}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="ui center aligned container" style="margin-top: 50px">
                        <div class="ui pagination pointing menu">
                            {% if article.has_previous %}
                                <a class="item" id="pre_page"><span> < </span>&nbsp;上一页</a>
                            {% endif %}
                            {% for i in left_array %}
                                <div class="item page_item" id="{{ i }}">{{ i }}</div>
                            {% endfor %}
                            {% for i in right_array %}
                                <div class="item page_item" id="{{ i }}">{{ i }}</div>
                            {% endfor %}
                            {% if article.has_next %}
                                <a class="item" id="next_page">下一页&nbsp;<span> > </span></a>
                            {% endif %}
                        </div>
                    </div>

                    <div class="ui center aligned container" style="margin: 30px">
                        <div><i class="copyright icon"></i><span>2018</span>
                            <a href="https://github.com/yonghuizhong" target="_blank" style="color: #212121">
                                <i class="github icon"></i><span>yonghuizhong</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block articlejs %}
    <script>
        //上一页下一页
        $('#pre_page')
            .click(function () {
                var url = window.location.search;
                var cate = url.split('?')[1].split('=')[1].split('&')[0];
                {% if article.has_previous %}
                    window.location.href = "http://127.0.0.1:8000/article/" + "?cate=" + cate + "&page={{ article.previous_page_number }}";
                {% endif %}
            })
            .hover(function () {
                $(this).addClass("active");
            }, function () {
                $(this).removeClass("active");
            });

        $('#next_page')
            .click(function () {
                var url = window.location.search;
                var cate = 'politics';
                if (url.indexOf("?") != -1)
                    cate = url.split('?')[1].split('=')[1].split('&')[0];
                {% if article.has_next %}
                    window.location.href = "http://127.0.0.1:8000/article/" + "?cate=" + cate + "&page={{ article.next_page_number }}";
                {% endif %}
            })
            .hover(function () {
                $(this).addClass("active");
            }, function () {
                $(this).removeClass("active");
            });

        //当前页的页码变为激活状态
        $("#" + {{ article.number }}).addClass("active teal");

        $(".page_item")
            //分页栏点击翻页
            .click(function () {
                var url = window.location.search;
                var cate = url.split('?')[1].split('=')[1].split('&')[0];
                var id = $(this).attr("id");
                window.location.href = "http://127.0.0.1:8000/article/" + "?cate=" + cate + "&page=" + id;
            })
            //分页栏颜色效果
            .hover(function () {
                $(this).addClass("active");
            }, function () {
                if ($(this).attr("id") != {{ article.number }})
                    $(this).removeClass("active");
            });

        //标题鼠标点击和悬浮的效果
        $(".ui.header")
            .click(function () {
                $(this).css("color", "#666");
            })
            .hover(function () {
                $(this).addClass("blue");
            }, function () {
                $(this).removeClass("blue");
            });

        //图片缩放效果
        $(".news_item").hover(function () {
            $(this).find("img").css({"transform": "scale(1.08)", "transition-duration": "1.2s"});
        }, function () {
            $(this).find("img").css({"transform": "scale(1)", "transition-duration": "1.2s"});
        });
    </script>
{% endblock %}
